.DS_STORE
node_modules
*~
*.pyc
.module-cache
*.log*
.vscode
*.swp
*.swo
.env

# credentials
.*.json

# storybook static build
storybook-static
appserver/env.development.local
appserver/firebase-dev-credentials.json

# ignore direct amplitude event logging in dev
appserver/dev-tracking-events-log
