.listitem {
    display:flex;
    justify-content: space-between;
    padding-top:1em;
    padding-bottom:1em;
    min-height:44px;
}

.listitemlabel {
    display:flex;
}

.listitemicon {
    max-width:24px;
}

:first-of-type .listitemicon {
    margin-right:.5em;
}