.listitem {
    display:flex;
    justify-content: space-between;
    padding-top:1em;
    padding-bottom:1em;
    min-height:44px;
    text-decoration:none;
}
.border {
    border-bottom:1px solid lightgray;
}

.listitemlabel {
    display:flex;
}

.listitemicon {
    max-width:24px;
}

:first-of-type .listitemicon {
    margin-right:.5em;
}

.listitembtn {
    display:flex;
    justify-content: space-between;
    padding-top:1em;
    padding-bottom:1em;
    min-height:44px;
    text-decoration:none;
}